<div class="container">
  <div>
    <h1 class="title text-center display-4 text-muted">Budge<small style="color: #24a0ed;">Tly</small></h1>
  </div>
  <div class="ratio" style="--bs-aspect-ratio: 52%;">
    <iframe width="300" height="300" src="https://embed.lottiefiles.com/animation/91889"></iframe>
  </div>
  <div class="btn-group padding centered">
    <%= link_to 'Log in', user_session_path, class: 'btn btn-info text-nowrap'%>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-light text-nowrap'%>
  </div>
</div>